/*Configurando tudo*/
*
{
	margin: 0;
	padding: 0;
}

body
{
	background: rgb(222, 226, 230);
	overflow-x: hidden; /*SEm barra de rolagem*/
}

#Cabeçalho /*Header*/
{
	background-color: rgb(2, 25, 35); /*Cor de fundo do header*/
	height: 90px; /*Altura do header*/
}

#Logo /*Img*/
{
	width: 11%; /*Largura da logo*/
	padding: 13px; /*Espaço entre a logo e o header*/
	margin-left: 100px; /*Espaço entre o brower esquerdo e a logo*/
}


#Barra_Navegação /*Nav*/
{
	margin-left: 300px; /*Espaço entre o brower esquerdo a o nav*/
	margin-top: -80px; /*Espaço entre o topo do brower e o Nav */
}

#Barra_Navegação ul /*Nav + ul*/
{
	list-style: none; /*Sem marcadores*/
	position:  relative;
}

#Barra_Navegação ul li /*Nav + ul + li*/
{
	width: 150px; /*Espaço entre as os Titulo da Nav*/
	float: left; /*Lado a lado*/
}

#Barra_Navegação a /*Nav + a*/
{
	padding: 15px; /*Espaço entre o a = link e o header*/
	font-family: cursive; /*Tipo de fonte*/
	display: block; /*Muda o comportamento do espaçamento do a  = link*/
	color: rgb(255, 255, 255); /*Cor da fonte*/
	text-decoration: none; /*Sem sublinhado*/
	text-align: center; /*Centralizado*/
}

/*Faz as opções sumirem*/
#Barra_Navegação ul ul /*Nav + ul + ul*/
{
	position: absolute;
	visibility: hidden; /*As opções sumem*/
}

/*Faz as opções aparecerem*/
#Barra_Navegação ul li:hover ul /*Nav + ul + li + ul*/
{
	visibility: visible; /*As opções voltam em baixo de cada Menu*/
}

#Barra_Navegação a:hover
{
	background-color: rgb(255, 255, 255); /*Cor do hover*/
	color: rgb(0, 166, 251); /*Cor da fonte com hover*/
}

#Barra_Navegação ul ul li /*Nav + ul + ul + li*/
{
	float:  none; /*Deixa as opções uma em baixo da outra*/
	border-bottom: solid 1px rgb(204, 204, 204) ; /*Borda nas opções*/
}

#Barra_Navegação ul ul li a /*Nav + ul + ul + ul + a*/
{
	background-color: rgb(5, 25, 35); /*Cor de fundo das opções*/
	text-align: center;
}
 
#Inglês
{
	margin-right: 150px; /*Espaço entre o brower direito e a logo do inglês*/
	margin-top: 21px; /*Espaço entre o topo do brower e a logo do Inglês*/
	float: right; /*Posicionado a direita*/
}
/*Configurando o botão do site em max-width: 800px*/ 
label[for="Botão_Menu"]
{
	color: rgb(255, 255, 255); /*Cor do botão do */
	display: none; /*O label do botão desaparece no max-width: 1148px*/
	cursor: pointer; /*Mostra o usuario que dá pra clicar*/
	font-size: 4.5vw; /*Tamanho do botão*/
	height: 55px; /*Largura do botão*/
}

#Botão_Menu
{
	display: none; /*O input desaparece no max-width: 1148px*/
}

/*Conteudo da página*/
#Imagens_Slides
{
	width: 650px;/*Largura das imagens*/
	height: 400px; /*Altura das imagens*/
	margin-left: 300px; /*ESpaço entre o brower esquerdo e as imagens*/
	margin-top: 100px; /*ESpaço entre o topo do brower e as imagens*/
}

#Botões_Slide
{
	margin-left: 45%; /*Espaço entre o brower esquerdo e os botões*/
	margin-top: -20px; /*Espaço entre o topo do brower e os botões*/
	font-size: 4.4vw;
}

#Conteudo
{
  	animation: titulo 2s 10; /*Tempo de animação*/
	background-color: rgba(5, 25, 35, 1.0); /*Cor de fundo da animação*/
	animation-direction: alternate; /*Estilo da animação*/
	overflow: hidden; 
	font-family: cursive; /*Tipo de fonte do conteudo*/
	font-size: 2.5vw; /*Tamanho da fonte*/
	text-align: center; /*Centralizado*/
	color: rgb(255, 255, 255); /*Cor da fonte do conteudo*/
	width: 750px;/*Largura do Conteudo*/
	height: 100px; /*Altura do conteudo*/
	margin-left: 250px;/*Espaço entre o brower esquedo e o conteudo*/
	margin-top: 80px;
	animation-iteration-count: 3; /*Quantidade que a animação roda*/
}

@keyframes titulo
{
	from {
		opacity: 0; /*nivel de tranparencia, aqui tá invisivel*/
		transform: translateX(100px);
	}
	to{
		opacity: 2;
		transform: translateX(0px);
	}
}

/*Footer*/
#Rodapé
{
	background-color: rgb(5, 25, 35); /*Cor de fundo do Footer*/
	margin-top: 5%; /*Distancia entre o footer e o topo do brower*/
	height: 90px; /*Altura do footer*/
	width: 100%; /*Largura do footer*/
}

#Rodapé ul /*Footer + ul*/
{
	list-style: none; /*Sem marcadores*/
	float: right; /*Posicionados a direita*/
}

#Rodapé li:hover /*Footer + li*/
{
	transform: translateY(-10px); /*Quando o mouse passar em cima, a redes social sobe*/
}

#Rodapé ul li /*Footer + ul + li*/
{
	float: left; /*redes sociais colocada lado a lado*/
	margin-left: -50px;/*Espaço entre as redes sociais*/
	margin-top: 15px; /*Espaço entre o topo do footer e as redes sociais*/
	margin-right: 60px; /*Distancia da direita do footer e as redes sociais*/
}

#icon
{
	width: -500px; /*Largura das redes sociais*/
}

#Texto
{
	color: rgb(255, 255, 255); /*Cor da fonte*/
	text-align: center; /*Texto centralizado*/
	font-family: cursive; /*Tipo de fonte*/
	font-size: 1.3vw; /*Tamanho da fonte*/
	padding: 33px; /*Distacia entre o topo do footer e o texto*/
}

/*Configuração para tela do computador de 2000px*/
@media only screen and (max-width: 2000px)
{
	#Barra_Navegação /*Nav*/
	{
		margin-left: 600px; /*Espaço entre o brower esquerdo a o nav*/
	}
	#Logo /*Img*/
	{
		width: 7%; /*Largura da logo*/
	}

	#Conteudo
	{
		font-size: 2.0vw; /*Tamanho da fonte*/
		height: 120px; /*Altura do conteudo*/
		margin-left: 600px;/*Espaço entre o brower esquedo e o conteudo*/
	}

	#Imagens_Slides
	{
		margin-left: 650px; /*ESpaço entre o brower esquerdo e as imagens*/
	}

	#Botões_Slide
	{
		margin-left: 44%; /*Espaço entre o brower esquerdo e os botões*/
	}

/*Configuração para tela do computador de 1024px*/
@media only screen and (max-width: 1280px)
{
	#Barra_Navegação /*Nav*/
	{
		margin-left: 300px; /*Espaço entre o brower esquerdo a o nav*/
		margin-top: -77px; /*Espaço entre o topo do brower e o Nav */
	}

	#Barra_Navegação ul li /*Nav + ul + li*/
	{
		 /*Espaço entre as os Titulo da Nav*/
	}

	#Barra_Navegação ul ul li /*Nav + ul + ul + li*/
	{
		border: none;
	}
	#Logo /*Img*/
	{
		width: 11%; /*Largura da logo*/
		margin-top: -3px; /*Espaço entre o topo do brower e a logo*/
	}

	#Conteudo
	{
		font-size: 2.8vw; /*Tamanho da fonte*/
		height: 100px; /*Altura do conteudo*/
		margin-left: 250px;/*Espaço entre o brower esquedo e o conteudo*/
	}

	#Imagens_Slides
	{
		margin-left: 300px; /*ESpaço entre o brower esquerdo e as imagens*/
	}

	#Botões_Slide
	{
		margin-left: 44%; /*Espaço entre o brower esquerdo e os botões*/
	}
}
/*Configuração para tela do computador de 1024px*/
@media only screen and (max-width: 1024px)
{
	#Barra_Navegação /*Nav*/
	{
		margin-left: 220px; /*Espaço entre o brower esquerdo a o nav*/
		margin-top: -70px; /*Espaço entre o topo do brower e o Nav */
	}

	#Barra_Navegação ul li /*Nav + ul + li*/
	{
		width: 110px; /*Espaço entre as os Titulo da Nav*/
	}
	#Barra_Navegação a /*Nav + a*/
	{
		font-size: 1.4vw;/*Tamnho da fonte*/
	}
	#Logo /*Img*/
	{
		width: 11%; /*Largura da logo*/
		margin-top: 5px; /*Espaço entre o topo do brower e a logo*/
	}

	#Conteudo
	{
		font-size: 2.8vw; /*Tamanho da fonte*/
		height: 100px; /*Altura do conteudo*/
		margin-left: 130px;/*Espaço entre o brower esquedo e o conteudo*/
	}

	#Imagens_Slides
	{
		margin-left: 180px; /*ESpaço entre o brower esquerdo e as imagens*/
	}

	#Botões_Slide
	{
		margin-left: 44%; /*Espaço entre o brower esquerdo e os botões*/
	}
}
/*Configuração para tela do celular*/
@media only screen and (max-width: 800px)
{
	/*Botão do Menu*/
	label[for="Botão_Menu"]
	{
		display: block; /*Faz o botão aparacer*/
		padding: 15px; /*Espaço entre a logo e o header*/
	}

 	#Botão_Menu:checked ~ #Barra_Navegação
 	{
 		margin-left: 0; /*Faz com que o botão funcione*/
 	}

 	/*Barra de navegação*/
 	#Barra_Navegação
 	{
 		margin-top: -70px; /*Espaço entre o topo do brower e o Nav*/
		margin-left: -100%; /*Espaço entre o brower esquerdo e nav*/
		transition: all .3s; /*Entrada e saida do Nav*/
		width: 20%; /*Largura do Nav*/
		background-color: rgb(5, 25, 35);
		text-align: center;
		position: relative;
 	}

 	#Barra_Navegação ul li /*Nav + ul + li*/
 	{
 		float: none; /*Um embaixo do outro */
 	}

 	#Barra_Navegação ul ul
 	{
 		position: static; /*posicionado de acordo com o fluxo normal da página*/
 		max-height: 0; /*Deixa todos juntos, sem espaço*/
 		overflow: hidden;
 	}

 	#Barra_Navegação ul li:hover ul
 	{
 		height: auto; 
		max-height: 200px;
 	}

 	#Barra_Navegação a /*Nav + a*/
	{
		margin-left: 15px;
	}

 	#Logo /*Img*/
	{
		width: 14%; /*Largura da logo*/
		padding: 13px; /*Espaço entre a logo e o header*/
		margin-left: 100px; /*Espaço entre o brower esquerdo e a logo*/
		margin-top: -80px; /*Espaço entre o topo do brower e a logo*/
		margin-bottom: 80px; /*Espaço entre a parte de baixo do header e a logo*/
	}

	/*Idioma*/
	#Inglês
	{
		margin-right: 120px; /*Espaço entre o brower direito e a logo do inglês*/
		margin-top: -65px; /*Espaço entre o topo do brower e a logo do Inglês*/
		float: right; /*Posicionado a direita*/
	}

	/*Conteudo*/
	#Conteudo
	{
		margin-left: 120px; /*Espaço entre a esquerda do brower e o conteudo*/
		width: 550px;
		font-size: 30px; /*Tamanho da fonte*/
	}

	#Imagens_Slides
	{
		margin-left: 80px; /*ESpaço entre o brower esquerdo e as imagens*/
	}

	#Botões_Slide
	{
		margin-left: 42%; /*Espaço entre o brower esquerdo e os botões*/
	}

	/*Footer*/
	#Rodapé
	{
		margin-top: 150px;/*Espaço entre o header e o footer*/
	}

	#Icon
	{
		width: 50px; /*Largura das redes sociais*/
	}
}

/*Configuração para tela do celular*/
@media only screen and (max-width: 600px)
{
	/*Botão do Menu*/
	label[for="Botão_Menu"]
	{
		display: block; /*Faz o botão aparacer*/
		margin-left: 10px;
		padding-left: 10px; /*Espaço entre a logo e o header*/
		padding-top: 30px;
	}

 	#Botão_Menu:checked ~ #Barra_Navegação
 	{
 		margin-left: 0; /*Faz com que o botão funcione*/
 	}
 	
 	#Cabeçalho
 	{
 		width: 500px;
 	}

 	/*Barra de navegação*/
 	#Barra_Navegação
 	{
 		margin-top: -70px; /*Espaço entre o topo do brower e o Nav*/
		margin-left: -100%; /*Espaço entre o brower esquerdo e nav*/
		transition: all .3s; /*Entrada e saida do Nav*/
		width: 22%; /*Largura do Nav*/
		background-color: rgb(5, 25, 35);
		text-align: center;
		position: relative;
 	}

 	#Barra_Navegação ul li /*Nav + ul + li*/
 	{
 		float: none; /*Um embaixo do outro */
 	}

 	#Barra_Navegação ul ul
 	{
 		position: static; /*posicionado de acordo com o fluxo normal da página*/
 		max-height: 0; /*Deixa todos juntos, sem espaço*/
 		overflow: hidden;
 	}

 	#Barra_Navegação ul li:hover ul
 	{
 		height: auto; 
		max-height: 700px;
 	}

 	#Barra_Navegação a /*Nav + a*/
	{
		margin-left: -15px;
	}

 	#Logo /*Img*/
	{
		width: 25%; /*Largura da logo*/
		padding: 13px; /*Espaço entre a logo e o header*/
		margin-left: 100px; /*Espaço entre o brower esquerdo e a logo*/
		margin-top: -95px; /*Espaço entre o topo do brower e a logo*/
		margin-bottom: 80px; /*Espaço entre a parte de baixo do header e a logo*/
	}

	/*Idioma*/
	#Inglês
	{
		width: 20px;
		margin-right: 120px; /*Espaço entre o brower direito e a logo do inglês*/
		margin-top: -80px; /*Espaço entre o topo do brower e a logo do Inglês*/
		float: right; /*Posicionado a direita*/
	}

	/*Conteudo*/
	#Conteudo
	{
		margin-left: 65px; /*Espaço entre a esquerda do brower e o conteudo*/
		width: 350px;
		height: 70px;
		font-size: 20px; /*Tamanho da fonte*/
	}

	#Imagens_Slides
	{
		width: 350px;
		height: 250px ;
		margin-left: 65px; /*ESpaço entre o brower esquerdo e as imagens*/
	}

	#Botões_Slide
	{
		margin-top: -2px;
		margin-left: 40%; /*Espaço entre o brower esquerdo e os botões*/
	}

	/*Footer*/
	#Rodapé
	{
		width: 500px;
		margin-top: 150px;/*Espaço entre o header e o footer*/
	}

	#Icon
	{
		margin-top: 10px;
		margin-left: 10px;
		margin-right: 5px;
		width: 30px; /*Largura das redes sociais*/
	}

}
